.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}
.details-container {
  display: flex;
  flex-direction: row;
}

.time {
  color: black;
  font-family: 'Roboto';
  font-size: 14px;
  margin-right: 15px;
}

.heading {
  color: black;
  font-family: 'Roboto';
  font-size: 14px;
  margin-right: 10px;
}
.para {
  color: black;
  font-family: 'Roboto';
  font-size: 14px;
  margin-right: 10px;
}
.logo {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
